@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
	--animate-shine: shine 3s ease-out infinite;
	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;

	--text-display-1: 5.125rem;
	--text-display-1--line-height: 120%;
	--text-display-1--letter-spacing: -2%;
	--text-display-1--font-weight: 700;
	--text-display-2: 4.5rem;
	--text-display-2--line-height: 120%;
	--text-display-2--letter-spacing: -2%;
	--text-display-2--font-weight: 700;
	--text-heading-1: 3.625rem;
	--text-heading-1--line-height: 120%;
	--text-heading-1--letter-spacing: -2%;
	--text-heading-1--font-weight: 700;
	--text-heading-2: 3rem;
	--text-heading-2--line-height: 120%;
	--text-heading-2--letter-spacing: -2%;
	--text-heading-2--font-weight: 700;
	--text-heading-3: 2.625rem;
	--text-heading-3--line-height: 120%;
	--text-heading-3--letter-spacing: -2%;
	--text-heading-3--font-weight: 700;
	--text-heading-4: 2rem;
	--text-heading-4--line-height: 120%;
	--text-heading-4--letter-spacing: -2%;
	--text-heading-4--font-weight: 700;
	--text-heading-5: 1.5rem;
	--text-heading-5--line-height: 140%;
	--text-heading-5--letter-spacing: -2%;
	--text-heading-5--font-weight: 700;
	--text-heading-6: 1.25rem;
	--text-heading-6--line-height: 140%;
	--text-heading-6--letter-spacing: 0%;
	--text-heading-6--font-weight: 700;
	--text-body-xl-regular: 1.125rem;
	--text-body-xl-regular--line-height: 150%;
	--text-body-xl-regular--letter-spacing: 0%;
	--text-body-xl-regular--font-weight: 400;
	--text-body-xl-medium: 1.125rem;
	--text-body-xl-medium--line-height: 150%;
	--text-body-xl-medium--letter-spacing: 0%;
	--text-body-xl-medium--font-weight: 500;
	--text-body-xl-semibold: 1.125rem;
	--text-body-xl-semibold--line-height: 150%;
	--text-body-xl-semibold--letter-spacing: 0%;
	--text-body-xl-semibold--font-weight: 600;
	--text-body-l-regular: 1rem;
	--text-body-l-regular--line-height: 150%;
	--text-body-l-regular--letter-spacing: -1%;
	--text-body-l-regular--font-weight: 400;
	--text-body-l-medium: 1rem;
	--text-body-l-medium--line-height: 150%;
	--text-body-l-medium--letter-spacing: 0%;
	--text-body-l-medium--font-weight: 500;
	--text-body-l-semibold: 1rem;
	--text-body-l-semibold--line-height: 150%;
	--text-body-l-semibold--letter-spacing: 0%;
	--text-body-l-semibold--font-weight: 600;
	--text-body-m-regular: 0.875rem;
	--text-body-m-regular--line-height: 150%;
	--text-body-m-regular--letter-spacing: 0%;
	--text-body-m-regular--font-weight: 400;
	--text-body-m-medium: 0.875rem;
	--text-body-m-medium--line-height: 150%;
	--text-body-m-medium--letter-spacing: 0%;
	--text-body-m-medium--font-weight: 500;
	--text-body-m-semibold: 0.875rem;
	--text-body-m-semibold--line-height: 150%;
	--text-body-m-semibold--letter-spacing: 0%;
	--text-body-m-semibold--font-weight: 600;
	--text-body-s-regular: 0.75rem;
	--text-body-s-regular--line-height: 130%;
	--text-body-s-regular--letter-spacing: -1%;
	--text-body-s-regular--font-weight: 400;
	--text-body-s-medium: 0.75rem;
	--text-body-s-medium--line-height: 130%;
	--text-body-s-medium--letter-spacing: 0%;
	--text-body-s-medium--font-weight: 500;
	--text-body-s-semibold: 0.75rem;
	--text-body-s-semibold--line-height: 130%;
	--text-body-s-semibold--letter-spacing: 0%;
	--text-body-s-semibold--font-weight: 600;
	--text-button: 0.9375rem;
	--text-button--line-height: 100%;
	--text-button--letter-spacing: -1%;
	--text-button--font-weight: 500;

	--color-background: hsl(var(--background));
	--color-foreground: hsl(var(--foreground));

	--color-card: hsl(var(--card));
	--color-card-foreground: hsl(var(--card-foreground));

	--color-popover: hsl(var(--popover));
	--color-popover-foreground: hsl(var(--popover-foreground));

	--color-primary: hsl(var(--primary));
	--color-primary-foreground: hsl(var(--primary-foreground));

	--color-secondary: hsl(var(--secondary));
	--color-secondary-foreground: hsl(var(--secondary-foreground));

	--color-muted: hsl(var(--muted));
	--color-muted-foreground: hsl(var(--muted-foreground));

	--color-accent: hsl(var(--accent));
	--color-accent-foreground: hsl(var(--accent-foreground));

	--color-destructive: hsl(var(--destructive));
	--color-destructive-foreground: hsl(var(--destructive-foreground));

	--color-border: hsl(var(--border));
	--color-input: hsl(var(--input));
	--color-ring: hsl(var(--ring));

	--color-chart-1: hsl(var(--chart-1));
	--color-chart-2: hsl(var(--chart-2));
	--color-chart-3: hsl(var(--chart-3));
	--color-chart-4: hsl(var(--chart-4));
	--color-chart-5: hsl(var(--chart-5));

	--color-orange-50: rgb(255 246 237);
	--color-orange-100: rgb(255 235 212);
	--color-orange-200: rgb(255 211 168);
	--color-orange-300: rgb(255 179 112);
	--color-orange-400: rgb(255 136 55);
	--color-orange-500: rgb(255 111 29);

	--color-lilac-50: rgb(250 247 253);
	--color-lilac-100: rgb(243 237 250);
	--color-lilac-200: rgb(233 222 246);
	--color-lilac-300: rgb(211 189 236);
	--color-lilac-400: rgb(191 158 226);
	--color-lilac-500: rgb(165 120 212);

	--color-slate-50: rgb(251 247 241);
	--color-slate-100: rgb(246 238 227);
	--color-slate-200: rgb(234 214 190);
	--color-slate-300: rgb(220 186 149);
	--color-slate-400: rgb(205 152 106);
	--color-slate-500: rgb(194 126 77);

	--color-green-50: rgb(244 249 248);
	--color-green-100: rgb(219 236 232);
	--color-green-200: rgb(183 216 211);
	--color-green-300: rgb(139 189 182);
	--color-green-400: rgb(99 158 152);
	--color-green-500: rgb(73 131 126);
	--color-green-600: rgb(56 105 101);
	--color-green-700: rgb(48 85 83);
	--color-green-800: rgb(42 69 67);
	--color-green-900: rgb(36 56 55);

	--color-blue-50: rgb(240 249 255);
	--color-blue-100: rgb(224 242 254);
	--color-blue-200: rgb(186 230 253);
	--color-blue-300: rgb(125 211 252);
	--color-blue-400: rgb(56 189 248);
	--color-blue-500: rgb(14 165 233);
	--color-blue-600: rgb(2 132 199);
	--color-blue-700: rgb(3 105 161);
	--color-blue-800: rgb(7 89 133);
	--color-blue-900: rgb(12 74 110);

	--color-black: rgb(0 0 0);
	--color-white: rgb(255 255 255);

	--color-base-400: rgba(36 56 55 / 1);
	--color-base-500: rgba(14 15 17 / 0.65);
	--color-base-600: rgba(14 15 17 / 0.45);

	--color-contrast-400: rgba(255 255 255 / 1);
	--color-contrast-500: rgba(255 255 255 / 1);
	--color-contrast-600: rgba(255 255 255 / 1);

	--color-semantic-base-danger: rgba(230 35 35 / 1);
	--color-semantic-base-warning: rgba(152 87 22 / 1);
	--color-semantic-base-action: rgba(14 89 164 / 1);
	--color-semantic-base-info: rgba(13 108 155 / 1);
	--color-semantic-base-success: rgba(8 145 101 / 1);

	--color-semantic-contrast-danger: rgba(235 163 159 / 1);
	--color-semantic-contrast-warning: rgba(234 184 133 / 1);
	--color-semantic-contrast-action: rgba(12 77 141 / 1);
	--color-semantic-contrast-info: rgba(105 196 242 / 1);
	--color-semantic-contrast-success: rgba(92 203 166 / 1);

	--color-utility-white: rgba(255 255 255 / 1);
	--color-utility-black: rgba(0 0 0 / 1);

	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1312px;
	--breakpoint-3xl: 1440px;

	@keyframes shine {
		0% {
			background-position: 200% 0;
		}
		25% {
			background-position: -200% 0;
		}
		100% {
			background-position: -200% 0;
		}
	}
	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}
	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@layer utilities {
	body {
		font-family: Arial, Helvetica, sans-serif;
	}
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 20 14.3% 4.1%;
		--card: 0 0% 100%;
		--card-foreground: 20 14.3% 4.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 20 14.3% 4.1%;
		--primary: 24 9.8% 10%;
		--primary-foreground: 60 9.1% 97.8%;
		--secondary: 60 4.8% 95.9%;
		--secondary-foreground: 24 9.8% 10%;
		--muted: 60 4.8% 95.9%;
		--muted-foreground: 25 5.3% 44.7%;
		--accent: 60 4.8% 95.9%;
		--accent-foreground: 24 9.8% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 60 9.1% 97.8%;
		--border: 20 5.9% 90%;
		--input: 20 5.9% 90%;
		--ring: 20 14.3% 4.1%;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 20 14.3% 4.1%;
		--foreground: 60 9.1% 97.8%;
		--card: 20 14.3% 4.1%;
		--card-foreground: 60 9.1% 97.8%;
		--popover: 20 14.3% 4.1%;
		--popover-foreground: 60 9.1% 97.8%;
		--primary: 60 9.1% 97.8%;
		--primary-foreground: 24 9.8% 10%;
		--secondary: 12 6.5% 15.1%;
		--secondary-foreground: 60 9.1% 97.8%;
		--muted: 12 6.5% 15.1%;
		--muted-foreground: 24 5.4% 63.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 60 9.1% 97.8%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 60 9.1% 97.8%;
		--border: 12 6.5% 15.1%;
		--input: 12 6.5% 15.1%;
		--ring: 24 5.7% 82.9%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@layer base {
	* {
		@apply border-border font-sans;
	}
	body {
		@apply bg-background text-black dark:text-white;
	}
}

.no-visible-scrollbar {
	scrollbar-width: none;
	-ms-overflow-style: none;
	-webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
	display: none;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}
.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
